@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'ClimateCrisis';
  src: url('./assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MajorMonoDisplay';
  src: url('./assets/fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Megrim';
  src: url('./assets/fonts/Megrim-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

#root {
  max-width: none !important;
  width: 100% !important;
  text-align: left;
}