@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'ClimateCrisis';
  src: url('./assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MajorMonoDisplay';
  src: url('./assets/fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Megrim';
  src: url('./assets/fonts/Megrim-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

#root {
  max-width: none !important;
  width: 100% !important;
  text-align: left;
}


.react-flow__controls {
  background-color: #18181B;
  border: 1px solid #3F3F46;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
  padding: 2px;
}

.react-flow__controls-button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #27272A;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.react-flow__controls-button:last-child {
  border-bottom: none;
}

.react-flow__controls-button svg {
  fill: #A1A1AA;
  max-width: 14px;
  max-height: 14px;
}

/* מצב הובר (כשעוברים עם העכבר) */
.react-flow__controls-button:hover {
  background-color: #27272A;
}

.react-flow__controls-button:hover svg {
  fill: #006FEE;
}

.react-flow__attribution {
  display: none !important;
}